@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: grey;
    height: 100vh;
    letter-spacing: 2px;
}

*{
    margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;   
}

main {
    background-color: whitesmoke;
    height: auto;
    width: 650px;
    left: 44%;
    top: 59%;
}

#principal-container {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    display: flex;
}

#container-izquierdo {
    background-color: #305d82;
    width: 120%;
    padding: 5%;
    float: left;
}

#profile-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20%;
    margin-left: 60px;
    border: 10px solid #305d82;
    box-shadow: 6px 7px 9px 5px #305d82;
}

#profile-img img{
    width: 100%;
    border-radius: 50%;
}

.box-1 {
    position: relative;
}

#Titulo {
    background-color: #4d4d4d;
    padding: 10px;
    color: #002a45;
    text-align: left;
    padding-left: 20px;
    margin-right: -15;
}

#Titulo::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 18px;
    top: 1px;
    background-color: #5a5959;
    transform: rotate(56deg);
    z-index: -1;
}

#p1 {
    padding: 7px 14px;
    font-size: 11px;
}

#icons3 {
    font-size: 16px;
    padding-right: 10px;
    vertical-align: sub;
}

.contenedor-habilidades {
    width: 90%;
    background-color: #4d4d4d;
    margin: 10px 10px;
}

.habilidad {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.Detective {
    width: 80%;
    background-color: white;
}

.Genio {
    width: 100%;
    background-color: white;
}

.Estratega {
    width: 95%;
    background-color: white;
}

.Acrobata {
    width: 90%;
    background-color: white;
}

.ArtesMarciales {
    width: 95%;
    background-color: white;
}

.Escapismo {
    width: 96%;
    background-color: white;
}

.AltaTecnologia {
    width: 100%;
    background-color: white;
}

#container-derecho {
    padding: 5%;
}

#container-derecho article {
    border: 0.5px solid yellow;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

#container-derecho article h2 {
    color: #00385a;
}
