body {
    background-color: grey;
}

#principal-container {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    display: flex;
}

#container-izquierdo {
    width: 40%;
    padding: 5%;
}

#container-izquierdo img {
    width: 150px;
    margin: 5%;
}

#container-derecho {
    padding: 5%;
}

#container-derecho article {
    border: 0.5px solid yellow;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

#container-derecho article h2 {
    color: #00385a;
}
